/* Шрифты */

/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    z-index: 10;
}


.header-burger {
    width: 40px;
    height: 22px;
    position: relative;
    display: none;
}

.header-burger-line {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: white;
}

.first-burger-line {
    top: 0;
}

.second-burger-line {
    top: 50%;
    transform: translateY(-50%);
}

.third-burger-line {
    bottom: 0;
}

.header_active {
    background: #0E1D28;
    padding-bottom: 20px;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 56px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 82px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    direction: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: .75;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* Intro styls start */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.png) no-repeat center;
    background-size: cover;

    padding-top: 263px;
    padding-bottom: 376px;
}

.intro-title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    color: white;
    line-height: 100%;
    margin-bottom: 22px;

}

.intro-subtitle {
    max-width: 546px;
    line-height: 24px;
    color: white;
    margin-bottom: 59px;
}

/* Search form */



.search-form-info {
    display: flex;
    flex-wrap: wrap;
}

.search-form-input {
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    background: url('../img/svg/oval.svg') no-repeat left 7px;
    background-size: 20px;
    border-bottom: 2px solid rgba(191, 192, 197, 1);
    margin-right: 60px;

    font-size: 18px;
    color: white;
    line-height: 24px;
}

.search-form-input::placeholder {
    font-size: 18px;
    color: white;
    line-height: 24px;
}

.search-form-button {
    padding: 15px 39px;
    background: #1B7DFF;

    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.search-form-button:hover,
.search-form-button:active,
.search-form-button:focus {
    background: #1a74eb;
}


/* Intro styls end */

/* Benefits styles start */

.benefits {
    margin-bottom: 131px;
}

.benefits-wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.1599);
    position: relative;
}



.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    background-color: white;

    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);

}

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;

    padding: 0 100px;
}

.benefits-card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-card-conteiner-img {
    margin-bottom: 37px;
    max-width: 66px;
}

.benefits-card-img {
    display: block;
}

.benefits-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits-card-desc {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits-learn-more {
    display: inline-block;
    padding-right: 59px;
    line-height: 24px;
    font-weight: 400;
    color: #006DFE;

    background: url('../img/svg/Strelka.svg') no-repeat 95% center;
    transition: .2s all;
}

.benefits-learn-more:hover,
.benefits-learn-more:focus,
.benefits-learn-more:active {
    background: url('../img/svg/Strelka.svg') no-repeat 100% center;
}

/* Benefits styles end */

/* Places styles start */

.places-caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.places-title {
    margin-right: 15px;
}

.places-viewAll-link {
    padding-right: 60px;
    background: url('../img/svg/Strelka.svg') no-repeat right;

    font-weight: 400;
    line-height: 24px;
    color: #006DFE;

    transition: .2s all;
}

.places-viewAll-link:hover,
.places-viewAll-link:focus,
.places-viewAll-link:active {
    opacity: 0.65;
}

.places-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-bottom: 131px;
}

.places-card-size-top {
    grid-column: span 3;

}

.places-card-pic {
    object-fit: cover;
    width: 100%;
    transition: .2s all;
    height: 354px;
}

.places-card {
    position: relative;
    overflow: hidden;
}

.places-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places-card:hover .places-card-pic {
    transform: scale(1.05);
}

.places-card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    z-index: 3;
    left: 29px;
    bottom: 27px;
}

.places-card-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.places-card-size-bot {
    grid-column: span 2;
    height: 283px;
}


/* Places styles end */


/* Tours styles start */

.tour {
    margin-bottom: 139px;
}

.tours-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
    width: 360px;
}

.tour-desc {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour-link {
    font-weight: 400;
    line-height: 24px;
    color: #006DFE;
    padding-right: 59px;
    background: url('../img/svg/Strelka.svg') no-repeat top 50% right;
    transition: .15s all;
}

.tour-link:hover,
.tour-link:focus,
.tour-link:active {
    opacity: 0.65;
}

.tour-info {
    padding-left: 47px;
}

/* Tours styles end */


/* Top styles start */

.top {
    margin-bottom: 86px;
}

.top-title {
    margin-bottom: 54px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 57px;
}

.top-card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top-card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top-card-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 25px;
}

.top-card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top-card-likes {
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url('../img/svg/like.svg') no-repeat right top 50%;
    margin-right: 14px;
}

.top-card-comm {
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url('../img/svg/comm.svg') no-repeat right top 50%;
}

.top-card-desc {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 31px;
}

.top-card-link {
    width: 118px;
    font-weight: 400;
    line-height: 19px;
    color: white;
    background-color: #006DFE;
    padding: 12px 19px 11px 19px;
    transition: .2s all;
    margin: auto 0 0 0;
}

.top-card-link:hover,
.top-card-link:focus,
.top-card-link:active {
    background-color: #1a74eb;
}

/* Top styles end */


/* Video styles start */

.videos {
    width: 100%;
}

.videos-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video-item {
    padding-top: 56.25%;
}

.video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Video styles end */


/* Footer styles start */

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer-item {
    display: flex;
    flex-wrap: wrap;

}

.footer-logo {
    width: 50%;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer-menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.footer-menu-link {
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    opacity: .75;
}



/* Footer styles end */


/* Media */

@media (max-width: 767px) {

    .header-burger {
        display: block;
    }

    .header-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0E1D28;
        top: 0;
        left: 0;
        padding: 75px;
        z-index: 20;
        transform: translateX(100%);
        transition: .2s linear;
    }

    .header-nav-active {
        transform: translateX(0);
    }

    .header-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 38px;
    }

    .header-item:last-child {
        margin-bottom: 0;
    }

    .header-link {
        font-size: 42px;
        line-height: 48px;
    }

    .header-nav-menu-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 21;
    }

    .header-nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%
    }

    .header-nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header-nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .places-card-size-top {
        grid-column: span 6;
    }

    .benefits-card {
        grid-column: span 3;
    }

    .search-form-input {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
    }

    .search-form-input::placeholder {
        font-size: 16px;
    }

    .intro {
        padding-top: 125px;
    }

    .intro-title {
        font-size: 32px;
        line-height: 48px;
    }

    .intro-subtitle {
        font-size: 14px;
    }

    .header-wrapper {
        margin-top: 24px;
    }

.search-form-input {
    background: url('../img/svg/oval.svg') no-repeat left 2px;
}
}






@media (max-width: 500px) {
    .header-nav {
        padding: 75px 30px;
    }
}

@media (max-width: 915px) {
    .search-form-input {
        margin-bottom: 25px;
    }

    .benefits-cards {
        padding: 0 15px;
        grid-column-gap: 25px;
    }

    .benefits-title {
        padding: 55px 15px;
    }

    .benefits-wrap {
        box-shadow: none;
    }

    .benefits {
        margin-bottom: 75px;
    }

    .benefits-card {
        margin-bottom: 60px;
    }

    .places-card-size-bot {
        grid-column: span 6;
    }

    .tours-tour {
        grid-gap: 35px;
    }

    .tour-info {
        padding-left: 0;
    }

    .tour-title {
        margin-bottom: 15px;
    }

    .tour-desc {
        margin-bottom: 15px;
    }

    .top-card {
        grid-column: span 3;
    }

    .top-cards {
        grid-gap: 25px;
        grid-row-gap: 55px;
    }

    .top-card-pic {
        margin-bottom: 25px;
    }

    .footer {
        padding: 70px 0;
    }
}